# Arduino Settings
CONFIG_FREERTOS_HZ=1000
CONFIG_AUTOSTART_ARDUINO=y

# Log Levels
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y

# Flash/Monitor
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESPTOOLPY_COMPRESSED=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# BLE for commissioning
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
# CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT is not set
# CONFIG_BT_NIMBLE_EXT_ADV is not set
CONFIG_BT_NIMBLE_HCI_EVT_BUF_SIZE=70

# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Disable chip shell
# CONFIG_ENABLE_CHIP_SHELL is not set

# LwIP route hooks (required for Matter)
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# Disable DS Peripheral
# CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL is not set

# Matter NVS storage
CONFIG_ESP_MATTER_NVS_USE_COMPACT_ATTR_STORAGE=y

# mbedTLS HKDF (required by Matter)
CONFIG_MBEDTLS_HKDF_C=y

# libsodium
CONFIG_LIBSODIUM_USE_MBEDTLS_SHA=y

# FreeRTOS legacy API
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

# mDNS
CONFIG_ENABLE_EXTENDED_DISCOVERY=y
